<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>To do List</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param> 
		<param-name>dname</param-name> 
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value> 
	</context-param>


	<servlet>
		<servlet-name>LoginControllerServlet</servlet-name>
		<servlet-class>com.training.LoginController</servlet-class>
		 <init-param> 
			<param-name>driver</param-name> 
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value> 
		</init-param> 
		
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginControllerServlet</servlet-name>
		<url-pattern>/Web_LoginController</url-pattern>
	</servlet-mapping>
</web-app>